:root {
  --primary-color: #25a58f;
  --primary-color-dark: #1f896f;
  --input-border-color: #747775;
  --secondary-color: #1d536e;
  --background-color: #f0f4f9;
  --primary-font-color: #5f6368;
  --primary-font-color-hover: #202124;
  --heading-color: #3c4043;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  letter-spacing: .5px !important;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #dadce0;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500 !important;
  max-width: 100vw;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 64px;
}

.logo-container .logo {
  height: 32px;
  margin-left: 24px;
  padding-left: 8px;
  padding-right: 8px;
}

.nav-bar {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  margin-left: 38px;
  /* Align items to the left */
}

.nav-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
  min-height: 64px;
  align-items: center;
}

.nav-bar ul li {
  display: inline;
  display: flex;
  align-items: center;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  padding-left: 12px;
  padding-right: 12px;
  border-bottom: 2px solid transparent;
  min-height: 64px;
}

.nav-bar ul li a {
  text-decoration: none;
  color: var(--primary-font-color);
}

.nav-bar ul li a:hover {
  text-decoration: none;
  color: #000;
}

.nav-bar ul li.active a {
  text-decoration: none;
  color: #000;
}

.nav-bar ul li.active {
  border-bottom: 2px solid var(--primary-color);
}

.user-container {
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.cart-icon {
  font-size: 20px;
  color: var(--primary-font-color);
  margin-right: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: border 0.3s ease;
}

.cart-icon:hover {
  background-color: #f0f0f0;
}

.notification-icon {
  font-size: 20px;
  color: var(--primary-font-color);
  margin-right: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: border 0.3s ease;
}

.notification-icon:hover {
  background-color: #f0f0f0;
}

.sign-in-btn {
  background-color: #25a58f;
  color: #fff;
  border: none;
  padding: 0 24px;
  height: 48px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: .5px;
}

.sign-in-btn:hover {
  background-color: #1f896f;
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.profile-picture-edit {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.profile-picture:hover {
  box-shadow: 0 0 0 4px #f0f0f0;
}

.dropdown {
  display: none;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #e9edf6;
  border: 1px solid #dadce0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 15px;
  width: 350px;
  z-index: 1000;
  font-family: 'Google Sans', sans-serif;
}

.dropdown p {
  margin: 10px 0;
}

.dropdown .button-group {
  display: flex;
  justify-content: space-between;
  gap: 3px;
  /* Add some space between buttons */
}

.dropdown button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: 'Google Sans', sans-serif;
  color: #45464a;
  padding: 10px;
  height: 50px !important;
  border-radius: 0;
  flex: 1;
  text-align: center;
}

#plus {
  color: var(--primary-color) !important;
}

.add-account-btn {
  background-color: #f9fafe !important;
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.sign-out-btn {
  background-color: #f9fafe !important;
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.add-account-btn:hover {
  background-color: #dce1e7 !important;
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
}

.sign-out-btn:hover {
  background-color: #dce1e7 !important;
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
}

.dropdown a {
  text-decoration: none;
  font-family: 'Google Sans', sans-serif;
  color: var(--primary-color);
  display: block;
  padding: 10px 0;
  align-items: center;
  text-align: center;
}

.dropdown a:hover {
  background-color: #d9e2f3;
}

.manage-account {
  padding: 10px;
  border-radius: 50px;
  max-width: 280px;
  border: 1px solid #767b81;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 15px;
}

.container {
  max-width: 100%;
  margin: auto;
  padding-top: 70px;
}

.header-line {
  font-family: 'Baloo', sans-serif !important;
  font-size: 40px;
  margin-bottom: -25px;
  opacity: 0;
  animation: fade-in 250ms linear 1s 1 both;
  color: var(--primary-color);
}

.tagline-line {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 30px;
  color: var(--secondary-color);
}

.tagline-line2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: var(--secondary-color);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header-line img {
  height: 40px;
  width: auto;
  margin-bottom: -4px;
  transition: height 0.3s ease;
}

@media (min-width: 576px) {
  .header-line img {
    height: 35px;
    margin-bottom: -10px;
  }

  .header-line {
    font-size: 35px;
  }

  .tagline-line {
    font-size: 15px;
  }

  .tagline-line2 {
    font-size: 11px;
  }
}

@media (min-width: 768px) {
  .header-line img {
    height: 50px;
    margin-bottom: -12px;
  }

  .header-line {
    font-size: 50px;
  }

  .tagline-line {
    font-size: 20px;
  }

  .tagline-line2 {
    font-size: 15px;
  }
}

@media (min-width: 1029px) {
  .header-line img {
    height: 75px;
    margin-bottom: -16px;
  }

  .header-line {
    font-size: 70px;
  }

  .tagline-line {
    font-size: 25px;
  }

  .tagline-line2 {
    font-size: 18px;
  }
}

.input-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input-group {
  align-items: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-group input[type="email"],
.input-group input[type="password"],
.input-group input[type="text"] {
  padding: 10px;
  width: 100%;
  max-width: 330px;
  height: 30px;
  border: 1px solid var(--input-border-color);
  color: var(--input-border-color);
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  background-color: transparent;
}

.input-group input[type="email"]:focus,
.input-group input[type="password"]:focus,
.input-group input[type="text"]:focus {
  box-shadow: 0 0 0 2px var(--primary-color);
  border: 1px solid transparent;
  outline: none;
}

.input-group .input-placeholder {
  border-radius: 5px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--input-border-color);
  pointer-events: none;
  transition: top 0.3s, font-size 0.3s, color 0.3s;
}

.input-group input:focus~.input-placeholder,
.input-group input:valid~.input-placeholder {
  top: -2%;
  font-size: 12px;
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: 0 5px;
}

.input-group button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  height: 52px;
  width: 100%;
  max-width: 210px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.input-group button:hover {
  background-color: var(--primary-color-dark);
}

@media (min-width: 768px) {

  .input-group input[type="email"],
  .input-group input[type="password"],
  .input-group input[type="text"],
  .input-group button {
    width: auto;
    margin-top: 0;
  }
}

@media (min-width: 1024px) {

  .input-group input[type="email"],
  .input-group input[type="password"],
  .input-group input[type="text"] {
    width: 330px;
  }

  .input-group button {
    width: 210px;
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .input-group .input-placeholder {
    top: 25%;
  }
}

.profile:hover .profile-dropdown {
  display: block;
}

.profile-dropdown {
  display: none;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #000000b0;
  border-radius: 5px;
  padding: 10px;
  width: auto;
  height: 50px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: #fff;
}

.profile-dropdown p {
  margin: 5px 0;
}

.profile-dropdown .account-info {
  font-weight: 700;
  color: #fff;
}

.profile-dropdown .username,
.profile-dropdown .email {
  font-weight: 400;
  color: #bdc1c6;
}

.booked-events-container {
  max-width: 800px;
  margin: 80px auto 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.booked-events-container h1 {
  text-align: center;
  color: var(--primary-color);
}

.booked-events-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.booked-events-container table th,
.booked-events-container table td {
  border: 1px solid var(--input-border-color);
  padding: 10px;
  text-align: center;
}

.checkout-container {
  max-width: 800px;
  margin: 80px auto 20px;
  /* Adjust margin-top to avoid overlapping with fixed header */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.checkout-container h1,
.checkout-container h2 {
  text-align: center;
  color: var(--primary-color);
}

.checkout-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.checkout-container table th,
.checkout-container table td {
  border: 1px solid var(--input-border-color);
  padding: 10px;
  text-align: center;
}

.checkout-container button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.checkout-container button:hover {
  background-color: var(--primary-color-dark);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100vw;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.footer-logo .logo {
  height: 50px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--primary-color);
}

.footer-social {
  display: flex;
  gap: 10px;
}

.footer-social .social-icon {
  width: 24px;
  height: 24px;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  background-color: #f0f4f9;
  color: var(--secondary-color);
  position: fixed;
  bottom: 0;
  max-width: 100vw;
  margin: 0 auto;
  z-index: 9999;
}

.footer-bottom p {
  margin: 0;
}

.login-container {
  width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.login-container h1 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--secondary-color);
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  font-size: 16px;
}

.input-group input:focus {
  border-color: var(--primary-color);
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color-dark);
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 30px;
  text-align: left;
}

.register-container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif !important;
  font-weight: 500 !important;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--secondary-color);
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  font-size: 16px;
}

.input-group input:focus {
  border-color: var(--primary-color);
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color-dark);
}

/*______________________________________________________________________________________*/
.home-body {
  background-color: #fff;
  overflow-x: hidden;
}

.home-container {
  background-color: #fff;
  width: 100vw;
}

.welcome-banner {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 7rem;
  padding-bottom: 9rem;
  width: 100vw;
  font-family: 'Google Sans', sans-serif;
  box-shadow: 0 7px 26px rgba(0, 0, 0, .09);
  color: var(--heading-color);
}

.welcome-banner h1 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: -.5px;
  margin-bottom: 0px;
}

.welcome-banner p {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -.5px;
  margin-top: 10px;
}

.content-container {
  display: flex;
}

.search-filter {
  width: 22%;
  padding-right: 20px;
}

.filter-section {
  text-align: left;
  color: var(--heading-color);
  font-size: 1rem;
  max-width: 380px;
  margin-left: 100px;
}

.filter-section h3,
.filter-section h4,
.events-container h3,
.events-container h4 {
  font-family: 'Google Sans', sans-serif;
  margin-bottom: 30px;
  font-weight: lighter;
}

.filter-section h4 {
  margin-bottom: 25px;
}

.hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border: none;
  height: 2px;
  background-color: #e5e7e8;
}

.filter-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filter-item input[type="checkbox"] {
  margin-right: 10px;
}

.filter-item label {
  font-size: 1em;
}

.filter-date {
  width: 100%;
  padding: 5px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;
}

.events-container {
  text-align: left;
  flex-grow: 1;
  padding-left: 150px;
}

.events-container h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.events-container p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.events {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  justify-content: flex-start;
}

.event-card {
  width: 100%;
  max-width: 250px;
  min-height: 410px;
  background-color: #fff;
  border: #dbdde1 2px solid;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.event-card:hover {
  box-shadow: 0 1px 1px 1px #10101037 !important;
  transition: box-shadow 0.3s ease;
  transition: border 0.3s ease;
  border: transparent 2px solid;
}

.event-thumbnail-container {
  flex: 0 0 40%;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.event-thumbnail {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.event-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.event-details h3 {
  font-size: 1.5em;
}

.event-description {
  margin-top: 25px !important;
}

.link-card {
  text-decoration: none;
  color: var(--heading-color);
}

.event-details p {
  font-size: 1em;
  margin: 5px 0;
  color: #5f6368;
}

.event-link {
  display: inline-block;
  color: #25a58f;
  text-decoration: none;
  font-size: 1.7em;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transform: rotate(315deg);
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-wrapper {
  position: relative;
  width: 100%;
}

.search-bar {
  min-width: 500px;
  height: 40px;
  border-radius: 50px;
  padding-left: 35px;
  font-size: 16px;
  background-color: #eceff7;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.search-bar:hover {
  background-color: #dcdee6;
}

.search-bar:focus {
  outline: none;
  border-color: var(--primary-color);
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #5f6368;
  pointer-events: none;
}

/* Existing styles */

.filter-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  overflow: auto;
}

.filter-button {
  max-width: 100px;
  text-align: center;
  background-color: #fff !important;
  border-radius: 50px !important;
  color: var(--primary-font-color) !important;
  border: 1px solid #dadce0 !important;
}

.filter-button.active,
.filter-button.focus {
  background-color: #e4eefc !important;
  color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
}

@media (max-width: 768px) {
  .search-filter {
    display: none;
  }

  .mobile-filter {
    display: block;
    flex-direction: row;
    text-align: center;
    margin-bottom: 20px;
  }

  .mobile-filter button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
  }

  .mobile-filter button:hover {
    background-color: var(--primary-color-dark);
  }

  .filter-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    overflow: auto;
  }

  .filter-overlay-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 500px;
    text-align: left;
  }

  .close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close-btn:hover,
  .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .overlay-filter-item {
    margin-bottom: 20px;
  }

  .apply-filters-btn {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }

  .apply-filters-btn:hover {
    background-color: var(--primary-color-dark);
  }

  .content-container {
    flex-direction: column;
    padding: 0 10px;
  }

  .events-container {
    padding-left: 0;
  }

  .events {
    justify-content: center;
  }

  .filter-section {
    display: none;
  }
}

@media (min-width: 769px) {
  .mobile-filter {
    display: none;
  }
}

@media (max-width: 576px) {
  .search-bar-container {
    padding: 0 10px;
  }

  .search-bar {
    min-width: auto;
    width: 100%;
  }

  .event-card {
    max-width: 100%;
  }
}

.home-container {
  padding: 0 20px;
}

@media (max-width: 768px) {
  .home-container {
    padding: 0 10px;
  }
}

/*______________________________________________________________________________________*/

.checkout-container {
  max-width: 800px;
  margin: 80px auto 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.checkout-container h1,
.checkout-container h2 {
  text-align: center;
  color: var(--primary-color);
}

.checkout-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.checkout-container table th,
.checkout-container table td {
  border: 1px solid var(--input-border-color);
  padding: 10px;
  text-align: center;
}

.checkout-container button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.checkout-container button:hover {
  background-color: var(--primary-color-dark);
}

.booked-events-container {
  max-width: 800px;
  margin: 80px auto 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.booked-events-container h1 {
  text-align: center;
  color: var(--primary-color);
}

.booked-events-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.booked-events-container table th,
.booked-events-container table td {
  border: 1px solid var(--input-border-color);
  padding: 10px;
  text-align: center;
}

.organizer-container {
  max-width: 1200px;
  margin: 80px auto 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.organizer-container {
  max-width: 1200px;
  margin: 80px auto 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.events-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.events-table th,
.events-table td {
  border: 1px solid var(--input-border-color);
  padding: 10px;
  text-align: center;
}

.events-table th {
  background-color: var(--background-color);
  color: var(--secondary-color);
}

.events-table td {
  background-color: #fff;
}

.events-table a {
  color: var(--primary-color);
  text-decoration: none;
  margin: 0 5px;
}

.events-table a:hover {
  text-decoration: underline;
}

.organizer-container button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.organizer-container button:hover {
  background-color: var(--primary-color-dark);
}

.edit-event-container {
  max-width: 800px;
  margin: 80px auto 20px;
  /* Adjust margin-top to avoid overlapping with fixed header */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.edit-event-container h1 {
  text-align: center;
  color: var(--primary-color);
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--secondary-color);
}

.input-group input,
.input-group textarea,
.input-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  font-size: 16px;
}

.input-group input[type="file"] {
  padding: 0;
}

.input-group img.event-thumbnail {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

.edit-event-container button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.edit-event-container button:hover {
  background-color: var(--primary-color-dark);
}

.view-event-container {
  max-width: 800px;
  margin: 80px auto 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.view-event-container h1 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.event-details img.event-thumbnail {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  margin: 20px 0;
}

.view-event-container button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.view-event-container button:hover {
  background-color: var(--primary-color-dark);
}

.bookings-container {
  max-width: 1200px;
  margin: 80px auto 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.bookings-container h1 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.bookings-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.bookings-table th,
.bookings-table td {
  border: 1px solid var(--input-border-color);
  padding: 10px;
  text-align: center;
}

.bookings-table th {
  background-color: var(--background-color);
  color: var(--secondary-color);
}

.bookings-table td {
  background-color: #fff;
}

.bookings-table td a {
  color: var(--primary-color);
  text-decoration: none;
}

.bookings-table td a:hover {
  text-decoration: underline;
}

.feedback-container {
  max-width: 1200px;
  margin: 80px auto 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.feedback-container h1 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.feedback-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.feedback-table th,
.feedback-table td {
  border: 1px solid var(--input-border-color);
  padding: 10px;
  text-align: center;
}

.feedback-table th {
  background-color: var(--background-color);
  color: var(--secondary-color);
}

.feedback-table td {
  background-color: #fff;
}

.feedback-table td a {
  color: var(--primary-color);
  text-decoration: none;
}

.feedback-table td a:hover {
  text-decoration: underline;
}

.admin-container {
  max-width: 1200px;
  margin: 80px auto 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.admin-container h1 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.events-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.events-table th,
.events-table td {
  border: 1px solid var(--input-border-color);
  padding: 10px;
  text-align: center;
}

.events-table th {
  background-color: var(--background-color);
  color: var(--secondary-color);
}

.events-table td {
  background-color: #fff;
}

.events-table td button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.events-table td button:hover {
  background-color: var(--primary-color-dark);
}

.results {
  color: var(--primary-font-color);
}

.toppicks {
  color: var(--heading-color);
}

.search-filter {
  display: flex;
  justify-content: center;
}

.filter-select,
.filter-date {
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  margin-right: 10px;
}

.filter-select,
.filter-date {
  width: 50%;

}

.feedback-container {
  max-width: 600px;
  margin: 80px auto 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.feedback-container h1 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group textarea,
.input-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color-dark);
}

.reviews-list {
  list-style-type: none;
  padding: 0;
}

.reviews-list li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.reviews-list li strong {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.reviews-list li span {
  display: block;
  margin-bottom: 5px;
}

.notifications-container {
  max-width: 1200px;
  margin: 80px auto 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.notifications-container h1 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.notifications-list {
  list-style-type: none;
  padding: 0;
}

.notifications-list li {
  padding: 10px;
  border-bottom: 1px solid var(--input-border-color);
}

.notifications-list li.unread {
  background-color: #f0f4f9;
}

.notifications-list li.read {
  background-color: #fff;
}

.notifications-list li p {
  margin: 0;
}

.notifications-list li small {
  display: block;
  color: var(--secondary-color);
  margin-top: 5px;
}

.notifications-list li form {
  margin-top: 10px;
}

.notifications-list li form button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.notifications-list li form button:hover {
  background-color: var(--primary-color-dark);
}

.button-container {
  padding-top: 20px;
  display: flex;
  gap: 10px;
}

.create-account-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 250px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  min-width: 100px;
  width: 120px
}

.create-account-btn:hover {
  background-color: var(--primary-color-dark);
}

.btn-primary {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid transparent;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: transparent;
  border: 2px solid var(--primary-color);
}

body.register-body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.register-container .input-wrapper .input-group .input-placeholder {
  background-color: #fff !important;
}

.register-container .logo {
  height: 38px;
  padding-top: 10px;
}

.subheading {
  font-weight: 100 !important;
  margin-bottom: 20px !important;
}

.input-error {
  box-shadow: 0 0 0 2px #ff0000 !important;
}

.error-message.active {
  display: block;
  color: #b3261e;
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  font-size: 12px;
}

.error-message {
  display: none;
}

@media (max-width: 768px) {
  .register-container {
    width: 90%;
    padding: 10px;
  }

  .input-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .input-group input,
  .input-group button {
    width: 100%;
  }

  .show-password {
    margin-top: 10px;
  }

  .button-container {
    flex-direction: column;
    align-items: stretch;
  }

  .btn-primary,
  .create-account-btn {
    width: 100%;
    margin-top: 10px;
  }
}

.event-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  overflow-x: hidden;
}

.event-container {
  font-family: Source Sans Pro, Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  max-width: 91%;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}

.divider {
  border: none;
  height: 2px;
  background-color: #e5e7e8;
}

.event-container h1 {
  font-size: 2.6rem;
}

.event-header {
  flex: 3;
  text-align: left;
  padding: 20px;
}

.button-date {
  font-size: .8rem;
  padding: 0;
  padding-top: 5px;
  margin: 0;
}

.event-sidebar {
  flex: 1;
  text-align: left;
  padding: 20px;
}

.event-picture {
  max-width: 610px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.add-to-cart-btn {
  background-color: var(--primary-color);
  max-width: 150px !important;
  width: 100%;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.break {
  height: 200px;
}

.add-to-cart-btn:hover {
  background-color: var(--primary-color-dark);
}

.event-info p,
.event-sidebar p {
  margin: 10px 0;
}

.success,
.error {
  margin: 10px 0;
  padding: 10px;
  max-width: 300px;
  border-radius: 50px;
  width: 100%;
  text-align: center;
}

.success {
  color: var(--primary-color);
  background-color: #25a5904b;
  border: 1px solid #25a5904b;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

@media (max-width: 768px) {
  .event-body {
    overflow-x: hidden;
  }

  .event-container {
    flex-direction: column;
    align-items: center;
  }

  .event-header,
  .event-sidebar {
    width: 100%;
    padding: 10px;
  }

  .add-to-cart-btn {
    background-color: var(--primary-color);
    max-width: 1150px !important;
    width: 100%;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
}

@media (max-width: 480px) {
  .event-body {
    overflow-x: hidden;
  }

  .event-container {
    padding: 5px;
  }

  .event-header,
  .event-sidebar {
    padding: 5px;
  }

  .event-container h1 {
    font-size: 1.8rem;
  }
}

/*______________________________________________________________________________________*/
.cart-body {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  background-color: #f8f8f8 !important;
}
.cart-container a {
  color: var(--primary-color);
  text-decoration: none;
}

.cart-container h1 {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  color: var(--heading-color);
  font-size: 1.5rem;
  padding-top: 60px;
  
}

.cart-items-num {
  font-weight: 300;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.cart-content {
  max-width: 1900px;
  width: 850px;
}

.cart-wrapper {
  margin-top: 20px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.cart-items {
  background-color: #fff;
  flex: 3;
  flex: 0 1 60%;
}

.order-summary {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  text-align: left;
}

.cart-item {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
}

.cart-event-picture {
  width: 75px;
  height: 75px;
  object-fit: contain;
  border-radius: 8px;
  padding-left: 20px;
}

.line {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-details p {
  margin: 0%;
}

.item-details h2 {
  margin: 0% !important;
  text-align: left;
}

.item-details {
  width: 100%;
  padding-right: 20px;
}

.line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.update-form input[type="number"] {
  width: 30px;
  margin-right: 10px;
}

.item-details .remove-from-cart {
  background-color: transparent;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  padding: 0% !important;
  margin: 0% !important;
  width:auto;
  border-radius: 0px;
  font-size: .9rem !important;
}

.remove-container {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}

.cart-item:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.cart-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 95%;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  bottom: 0;
  left: 2.5%; 
}